# Build artifacts
dist/
build/

# Rust
*.pdb
*.rlib
mfcipher_rs
mfcipher_rs.exe

# Go
mfcipher_go
mfcipher_go.exe

# C / C++
mfcipher_c
mfcipher_c.exe
*.o
*.out

# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
*.egg-info/
dokumen
# PyInstaller
*.spec
MFCIPHER_UI.exe
MFCIPHER_UI

# File hasil enkripsi / dekripsi (test artifacts)
*.mfc
*_recovered.*

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp
*.swo